<div id="breadcrumb">
  <div class="container">
    <ul class="breadcrumb">
      <li><a href="#">Home</a></li>
      <li><a href="#">PS4</a></li>
      <li class="active">Devil May Cry</li>
    </ul>
  </div>
</div>